    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        width: 100%;
        height: 455px;
        background-image: url(img/bg.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .wrapper_box_header_top {
        height: 15%;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .wrapper_box_header_top h1 {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        color: #ffffff;
        font-family: "League Gothic";
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .wrapper_box_header_top h1 span {
        color: #745083;
        font-family: "League Gothic";
        font-size: 32px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu li {
        padding: 0 15px;
        list-style: none;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        color: #ffffff;
        font-family: "League Gothic";
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
    }

    .menu li:hover {
        border-bottom: 2px solid #edbfff;
    }

    .menu_sc {
        display: none;
    }

    .menu_sc ul {
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        background-color: #36293e;
        opacity: 0.9;
        text-align: center;

    }

    .menu_sc_border {
        border-radius: 10px;
        border: 1px solid #051116
    }

    .menu_sc ul li {
        list-style: none;
    }

    .menu_sc ul li a {
        color: #ffffff;
        font-family: "League Gothic";
        font-size: 20px;
        font-weight: 400;
        line-height: 42px;
        text-transform: uppercase;
        text-decoration: none;
    }

    .menu_sc_main {
        border-bottom: 2px solid transparent;
    }

    .menu_sc_sc li {
        display: none;
    }

    .menu_sc_sc li {
        width: 100%;
        border-bottom: 2px solid transparent;
    }

    .menu_sc_main:hover {
        border-bottom: 2px solid #edbfff;
    }

    .menu_sc li:hover .menu_sc_sc li {
        display: block;

    }

    .menu_sc_sc li:hover {
        border-bottom: 2px solid #edbfff;
    }

    .wrapper_box_header_bottom {
        width: 100%;
        height: 55%;
        background-color: rgb(0%, 0%, 0%, 0.2);
        margin-top: 4%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper_box_header_bottom_img_button {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper_box_header_bottom_img_button img {
        width: 22px;
        height: 34px;
    }

    .wrapper_box_header_bottom_text {
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .wrapper_box_header_bottom_text h2 {
        color: #fefefe;
        font-family: "League Gothic";
        font-size: 40px;
        line-height: 28px;
        font-weight: 400;
    }

    .wrapper_box_header_bottom_text h4 {
        color: #edbfff;
        font-family: "League Gothic";
        font-size: 19px;
        font-weight: 400;
    }

    .wrapper_box_header_bottom_text p {
        font-family: "Open Sans";
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #fefefe;
        letter-spacing: -0.45px;
    }

    .wrapper_box_header_bottom_img {
        width: 24%;
        height: 100%;
        position: relative;
    }

    .play {
        border: 10px solid transparent;
        border-left: 15px solid white;
        position: absolute;
        top: 100px;
        left: 150px;
        transform: translate(-50%, -50%);
        z-index: 11;
    }

    .circle {
        width: 40px;
        height: 40px;
        background-color: #cba5da;
        opacity: 0.8;
        border-radius: 30px;
        position: absolute;
        z-index: 10;
        transform: translate(-50%, -50%);
        top: 100px;
        left: 142.5px;
        border: 1px solid white;
    }

    .circle_outline {
        width: 50px;
        height: 50px;
        background-color: rgba(255, 245, 245, 0.5);
        border-radius: 30px;
        position: absolute;
        z-index: 9;
        transform: translate(-50%, -50%);
        top: 100px;
        left: 142.5px;
        border: 3px solid #46324f;
        box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
    }

    .wrapper_box_header_bottom_img .iphone_4 {
        width: 137px;
        height: 297px;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 8;
        top: 117px;
        left: 145.5px;
    }

    .wrapper_box_header_bottom_img .iPhone_4_copy {
        width: 109px;
        height: 208px;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 7;
        top: 114px;
        left: 80.5px;
    }

    .section_about {
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, #322539 0%, #745083 100%);
        padding-top: 50px;
        padding-bottom: 40px
    }

    .section_about_container {
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section_about_container div {
        width: 23%;
        padding: 10px;
        margin: 0 2%;
    }

    .section_about_container h3 {
        text-shadow: 1px 1px 0 #0f1518;
        color: #ffffff;
        font-family: "League Gothic";
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative
    }

    .section_about_container p {
        text-shadow: 1px 1px 0 #0f1518;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 300;
        line-height: 16px;
    }

    .section_about_container a {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        color: #ffffff;
        font-family: "League Gothic";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 60%
    }

    .section_about_container a:hover {
        text-shadow: 0 0 14px rgba(255, 255, 255, 0.8);
        font-size: 17px;
    }

    .section_about_container_left h3::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(img/Layer_34.png);
        position: absolute;
        left: -50px
    }

    .section_about_container_center h3::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(img/Layer_35.png);
        position: absolute;
        left: -50px
    }

    .section_about_container_right h3::before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(img/Layer_36.png);
        position: absolute;
        left: -50px
    }

    .section_two {
        height: 100%;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: #f9f9f9;
    }

    .section_two div {
        height: 100%;
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 40px 20px;
    }

    .section_two_left {
        background-color: white;
        padding: 40px
    }

    .section_two h3 {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "League Gothic";
        font-size: 25px;
        font-weight: 400;
        line-height: 20px;
        line-height: 20px;
        text-transform: uppercase;
        position: relative;
    }

    .section_two h3 span {
        color: #edbfff;
    }

    .section_two_left p {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }

    .section_two_left h3::before {
        content: '';
        display: block;
        height: 50px;
        width: 50px;
        position: absolute;
        background-image: url(img/Layer_82.png);
        top: -16px;
        left: -60px;
    }

    .section_two p {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "OpenSans-Light";
        font-size: 11px;
        font-weight: 300;
        line-height: 20px;
        margin-top: 15px;
        position: relative
    }

    .section_two p span {
        font-size: 12px;
        font-weight: 400;
        font-family: "OpenSans-ExtraBold";
    }

    .section_two_right {
        margin-left: 70px
    }

    .section_two_right p::before {
        content: '';
        display: block;
        height: 49px;
        width: 49px;
        position: absolute;
        border-radius: 30px;
        background-image: url(img/Layer_83.png);
        top: -2px;
        left: -55px;
    }

    .section_two_right a {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "League Gothic";
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;
        align-self: flex-end;
        margin-top: 20px
    }

    .logo {
        height: 100%;
        width: 100%;
        border-bottom: 1px solid #baafaf;
        border-top: 1px solid #baafaf;
        padding: 20px 0;
    }

    .logo div {
        width: 775px;
        height: 65px;
        margin: 0 auto;
        background-image: url(img/logos.png);
    }

    .copy_logo {
        display: none
    }

    .copy_sc_logo {
        display: none
    }

    .section_three {
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 50px 0;
    }

    .section_three div {
        height: 100%;
        width: 25%;
        margin: 0 2%
    }

    .section_three h3 {
        text-shadow: 0 1px 0 #ffffff;
        color: #454545;
        font-family: "League Gothic";
        font-size: 40px;
        font-weight: 400;
        line-height: 30.72px;
        text-transform: uppercase;
    }

    .section_three h3 span {
        color: #b9b9b9;
    }

    .section_three p span {
        text-shadow: 1px 1px 0 #ffffff;
        color: #c5c5c5;
        font-family: Georgia;
        font-size: 14px;
        font-style: italic;
        line-height: 35px;
    }

    .section_three p {
        text-shadow: 1px 1px 0 #ffffff;
        color: #787878;
        font-family: "Open Sans";
        font-size: 13px;
        font-weight: 300;
        line-height: 19px;
    }

    .section_three h4 {
        text-shadow: 1px 1px 0 #ffffff;
        color: #454545;
        font-family: "League Gothic";
        font-size: 27px;
        font-weight: 400;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 10px
    }

    footer {
        height: 134px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(img/bg_copy.png);
        padding: 0 10%
    }

    footer ul {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    footer li {
        list-style: none;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        color: #ffffff;
        font-family: "League Gothic";
        font-size: 16px;
        font-weight: 400;
        line-height: 33.72px;
        text-transform: uppercase;
        padding: 0 3%
    }

    footer p {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 300;
        line-height: 33.72px;
    }

    footer p span {
        font-family: "OpenSans-Extrabold";
        font-weight: 400;
    }

    @media screen and (max-width:960px) {
        header {
            background-size: 100% 100%;
        }
    }

    @media screen and (max-width:800px) {
        .logo div {
            width: 90%;
        }
    }

    @media screen and (max-width:780px) {
        header {
            background-size: 100% 100%;
        }

        .wrapper_box_header_bottom_text {
            width: 42%;
        }

        .wrapper_box_header_top {
            width: 90%;
            align-items: flex-end;
            margin-bottom: 10px
        }

        .wrapper_box_header_bottom_img_button {
            width: 15%;
        }

        .wrapper_box_header_bottom_text {
            width: 40%;
        }

        .wrapper_box_header_bottom_img {
            width: 30%;
        }

        .section_about_container {
            width: 100%;
        }

        .section_two div {
            width: 37%;
        }

        .logo div {
            width: 90%;
        }

        .section_three {
            width: 100%;
        }

        footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        footer ul {
            width: 100%;
        }

        .footer_div_bottom {
            align-self: flex-end;

        }
    }

    @media screen and (max-width:615px) {
        .menu {
            display: none
        }

        .menu_sc {
            display: block
        }

        .wrapper_box_header_top {
            width: 80%;
            height: 300px;
            margin-top: 20px;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }

        .wrapper_box_header_bottom_img {
            width: 45%;

        }

        .wrapper_box_header_bottom_img_button {
            width: 5%;
        }

        .wrapper_box_header_bottom_text {
            width: 35%;
        }

        .wrapper_box_header_bottom_text h2 {
            font-size: 32px;
        }

        .wrapper_box_header_bottom_text h4 {
            font-size: 13px;
        }

        .wrapper_box_header_bottom_text p {
            display: none
        }

        .section_about_container {
            flex-wrap: wrap;
        }

        .section_about_container div {
            width: 60%;
        }

        .section_two {
            flex-wrap: wrap
        }

        .section_two div {
            width: 70%;
        }

        .logo div {
            width: 76%;
            margin-bottom: 10px
        }

        .copy_logo {
            display: block;
            background-position: right
        }

        .section_three {
            flex-wrap: wrap
        }

        .section_three div {
            width: 80%;
            margin-bottom: 30px
        }

        footer {
            padding: 0
        }

        .footer_div_bottom {
            align-self: center
        }
    }

    @media screen and (max-width:486px) {
        header {
            height: 300px;
        }

        .wrapper_box_header_top {
            width: 80%;
            height: 50px;
            margin-top: 20px;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }

        .wrapper_box_header_bottom {
            background-color: rgb(0%, 0%, 0%, 0);
            height: 75%;
        }

        .wrapper_box_header_bottom_img {
            display: none
        }

        .wrapper_box_header_bottom_text {
            width: 50%;
        }

        .wrapper_box_header_bottom_img_button {
            width: 15%;
        }

        .copy_logo {
            background-position: center;
        }

        .copy_sc_logo {
            display: block;
            background-position: right;
        }

        footer div {
            display: none
        }

        .footer_div_bottom {
            display: block;

        }
    }
